.summary {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.summary-content {
    display: flex;
    justify-content: space-between;
}

.summary-details {
    width: 60%;
}

.summary-chart {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
